<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>.gradient-custom-2 {
        /* fallback for old browsers */
        background: #fbc2eb;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
        }</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body>

    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card">
                <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                  <div class="ms-4 mt-5 d-flex flex-column" style="width: 140px;">
                    
                    <img src="<%= user.imageUrl%>"
                      alt="profile-image" class="img-fluid img-thumbnail mt-5 mb-5"
                      style="width: 150px; z-index: 1">
                    <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                      style="z-index: 1;">
                      <a href="/hindr/user/edit/:id" class="link-dark">Edit profile</a>
                    </button>
                  </div>
 
                   
               
                  <div class="ms-3" style="margin-top: 105px;">
                    <h5><%= user.fullName %>, <%= formattedAge(user.dateOfBirth)%></h5>
                    <p><%= user.userName %> </p>
                  </div>
                  <div style="margin-top: 130px;margin-left: 250px;">
                    <div class="p-2 text-black">
                        <div class="d-flex justify-content-end text-center" style="color: white;">
                          <div>
                            <a href="/hindr/logout" class="link-light"><p class="medium white-text mb-0">Logout</p></a>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="p-4 text-black" style="background-color: #f8f9fa;">
                  <div class="d-flex justify-content-end text-center py-1">
                    <div>
                        <p class="mb-1 h5"><%= formatDate(user.createdAt)%> </p>
                        <p class="small text-muted mb-0">Started Hindring</p>
                      </div>
                  </div>
                </div>
                <div class="card-body p-4 text-black">
                  <div class="mb-5">
                    <p class="lead fw-normal mb-1">Personality</p>
                    <div class="p-4" style="background-color: #f8f9fa;">
                      <p class="font-italic mb-1"><%= user.character %> </p>
                    </div>
                  </div>
                </div>
                <div class="card-body p-4 text-black">
                    <div class="mb-5">
                      <p class="lead fw-normal mb-2">Preferences</p>
                      <div class="p-4" style="background-color: #f8f9fa;">

                        <% if (user.Preference) { %>
                          <p class="font-italic mb-2">seekingAge : <%= user.Preference.seekingAge%></p>
                          <p class="font-italic mb-1">seekingGender : <%= user.Preference.seekingGender%></p>
                          <p class="font-italic mb-1">seekingHeight : <%= user.Preference.seekingHeight%></p>
                          <p class="font-italic mb-1">seekingCharacter : <%= user.Preference.seekingCharacter%></p>
                          <p class="font-italic mb-1">seekingRelationshipType : <%= user.Preference.seekingRelationshipType%></p>
                        <% } else {%>
                          <p class="font-italic mb-2">seekingAge : </p>
                          <p class="font-italic mb-1">seekingGender : </p>
                          <p class="font-italic mb-1">seekingHeight : </p>
                          <p class="font-italic mb-1">seekingCharacter : </p>
                          <p class="font-italic mb-1">seekingRelationshipType : </p>
                          <% } %>
                      </div>
                    </div>

                  </div>


              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>